.list-cell {
    -fx-control-inner-background: white;
      -fx-background-color: -fx-box-border, white;
      -fx-background-insets: 0;
      -fx-text-fill: #326B70;
      -fx-padding: 5,0,5,0;
}
.list-view, .split-pane {
       -fx-background-insets: 0;
       -fx-padding: 0;
 }


