.list-cell {
    -fx-control-inner-background: #111d27;
      -fx-background-color: -fx-box-border, #111d27;
      -fx-background-insets: 0;
      -fx-padding: 5,0,5,0;
}
.list-view, .split-pane {
       -fx-background-insets: 0;
       -fx-padding: 0;
 }


